@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);
@import "aos/dist/aos.css";

@layer theme {
  :root {
    --color-blue: #063046;
    --color-blue-50: #628BA0;
    --color-white: #ffffff;
    --font-cormorant: "Cormorant Garamond", serif;
  }
}
*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

table{
  border-collapse: collapse;
}

img{
  max-width: 100%;
  height: auto;
}


body{
  font-family: "Zen Old Mincho", serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-blue);
  margin: 0;
}

.container-responsive{
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title{
  font-size: 120px;
  font-weight: bold;
  font-family: 'Cormorant Garamond', serif;
  line-height: 120px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.highlight-text {
  color: var(--color-blue);
  font-weight: bold;
  letter-spacing: 2.8px;
  font-size: 28px;

}
